@font-face {
    font-family: 'Sacramento';
    src: url('Sacramento-Regular.eot');
    src: url('Sacramento-Regular.eot?#iefix') format('embedded-opentype'),
        url('Sacramento-Regular.woff2') format('woff2'),
        url('Sacramento-Regular.woff') format('woff'),
        url('Sacramento-Regular.ttf') format('truetype'),
        url('Sacramento-Regular.svg#Sacramento-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-Italic.eot');
    src: url('MerriweatherSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('MerriweatherSans-Italic.woff2') format('woff2'),
        url('MerriweatherSans-Italic.woff') format('woff'),
        url('MerriweatherSans-Italic.ttf') format('truetype'),
        url('MerriweatherSans-Italic.svg#MerriweatherSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

